[Unit]
Description = Dispatch Service
[Service]
User=roboshop
Environment=AMQP_HOST="{{ lookup('aws_ssm', 'robo-rabbitmq-host', region='us-east-1' ) }}"
Environment=AMQP_USER="{{ lookup('aws_ssm', 'robo-rabbitmq-user', region='us-east-1' ) }}"
Environment=AMQP_PASS="{{ lookup('aws_ssm', 'robo-rabbitmq-pass', region='us-east-1' ) }}"
ExecStart=/app/dispatch
SyslogIdentifier=dispatch

[Install]
WantedBy=multi-user.target