[Unit]
Description=Payment Service

[Service]
User=root
WorkingDirectory=/app
Environment=CART_HOST="{{ lookup('aws_ssm', 'robo-payment-cart-host', region='us-east-1' ) }}"
Environment=CART_PORT="{{ lookup('aws_ssm', 'robo-payment-cart-port', region='us-east-1' ) }}"
Environment=USER_HOST="{{ lookup('aws_ssm', 'robo-payment-user-host', region='us-east-1' ) }}"
Environment=USER_PORT="{{ lookup('aws_ssm', 'robo-payment-user-port', region='us-east-1' ) }}"
Environment=AMQP_HOST="{{ lookup('aws_ssm', 'robo-rabbitmq-host', region='us-east-1' ) }}"
Environment=AMQP_USER="{{ lookup('aws_ssm', 'robo-rabbitmq-user', region='us-east-1' ) }}"
Environment=AMQP_PASS="{{ lookup('aws_ssm', 'robo-rabbitmq-pass', region='us-east-1' ) }}"

ExecStart=/usr/local/bin/uwsgi --ini payment.ini
ExecStop=/bin/kill -9 $MAINPID
SyslogIdentifier=payment

[Install]
WantedBy=multi-user.target